/* Base */
html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #fff;
    font-size: 13px;
    text-align: justify !important;
}

a {
    color: #0585CA;
}

a:hover {
    text-decoration: none;
}

h1 {
    font-size: 1.3em;
    padding: 2px 0;
    margin: 1px 0;
}

h2 {
    font-size: 1.2em;
    padding: 2px 0;
    margin: 1px 0;
}

h3, h4 {
    font-size: 1.1em;
    padding: 2px 0;
    margin: 1px 0;
}

h5, h6 {
    font-size: 1em;
    padding: 2px 0;
    margin: 1px 0;
}

/* Bootstrap custom */
.nav-tabs {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .navbar-default .navbar-form {
        width: 250px;
    }
}

.pi-navbar-nav ul {
    display: none;
}

@media (min-width: 768px) {
    .pi-navbar-nav li {
        position: relative;
    }

    .pi-navbar-caret {
        display: none;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        bottom: -1px;
        margin-left: -8px;
        border-bottom: 8px solid #fff;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;
        z-index: 1002;
    }

    .pi-navbar-caret-outer {
        border-bottom: 8px solid #c2c2c2;
        bottom: 0;
        z-index: 1001;
    }

    .pi-navbar-nav li:hover > ul,
    .pi-navbar-nav li:hover .pi-navbar-caret {
        display: block;
    }

    .pi-navbar-nav ul .dropdown-menu {
        left: 100%;
        top: -5px;
    }
}

/* Block */
.pi-block {
    margin-bottom: 20px;
}

.pi-block-title {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
}

.pi-block-title h2 ,
.pi-block-title h3 {
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.pi-panel-subline {
    float: right;
}

.pi-panel-tab .panel-heading {
    padding: 0;
    height: 40px;
}

.pi-panel-tab-indicators {
    margin: 0 0 -1px 0;
    padding: 0;
    height: 40px;
    line-height: 40px;
}

.pi-panel-tab-indicators li {
    display: inline-block;
}

.pi-panel-tab-indicators a {
    padding: 0 15px;
    cursor: pointer;
    display: block;
    color: #333;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.pi-panel-tab-indicators li:first-child a {
    border-left: none;
}

.pi-panel-tab-indicators .active a {
    font-weight: bold;
    border-color: #ddd;
    background: #fff;
}

.panel-body > :last-child {
    margin-bottom: 0;
}

.panel-body ul,
.panel-body ol {
    /* margin-left: -20px; */
}

/* logger */
#pi-logger-output {
    position: relative;
}

/* list or order list */
.pi-list {

}

.pi-order-list {

}

/* Module custom */
.tag-terms a {
    padding: 0 5px;
}

/* Player */
.pi-player {
    padding: 10px 0;
}

.pi-player .video-js {
    margin: 0 auto;
}

.pi-map-canvas {
    height: 400px;
}

/* Elements */
fieldset dl {
    margin-top: 0;
}

form .icon-question-sign {
    color: #0089D1;
    float: left;
    cursor: pointer;
    margin: 6px 0 0 1px;
    padding: 2px;
}

/* Components */
.page-header {
    margin: 0 0 15px 0;
}

.page-header h1,
.page-header h2 {
    margin: 0;
    font-size: 1.4em;
}

.page-header .nav {
    margin-bottom: 0;
}

.page-header .search-query {
    border-radius: 5px;
}

/** Pi Specific **/
/* Elements */
.dl-horizontal dt {
    width: 120px;
}

.dl-horizontal dd {
    margin-left: 140px;
}

/* ellipsis with rows/lines : line height is fixed */
.pi-ellipsis {
    overflow: hidden;
    display: block;
    line-height: 1.5;
}

/* Max 1 - 10 row(s)/line(s) */
.pi-ellipsis-1 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pi-ellipsis-2 {
    max-height: 3em;
}

.pi-ellipsis-3 {
    max-height: 4.5em;
}

.pi-ellipsis-4 {
    max-height: 6em;
}

.pi-ellipsis-5 {
    max-height: 7.5em;
}

.pi-ellipsis-6 {
    max-height: 9em;
}

.pi-ellipsis-7 {
    max-height: 10.5em;
}

.pi-ellipsis-8 {
    max-height: 12em;
}

.pi-ellipsis-9 {
    max-height: 13.5em;
}

.pi-ellipsis-10 {
    max-height: 15em;
}

/* Components */
.pi-divider {
    font-family: serif, sans-serif;
    margin: 0 6px;
    color: #ccc;
}

.pi-legend {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 9px 10px;
    color: #333333;
    border: 0;
    border-bottom: 1px solid #d7d7d7;
}

/* Box with border */
.pi-widget {
    margin-bottom: 20px;
    border: 1px solid #d7d7d7;
}

.pi-widget-header {
    padding: 5px 10px;
    background: #F8F8F8;
    border-bottom: 1px solid #d7d7d7;
}

.pi-widget-body {
    padding: 18px 20px;
}

.pi-widget-body > :last-child {
    margin-bottom: 0;
}

/* Avatar */
/* @see: https://github.com/pi-engine/pi/wiki/Design.Avatar */
.pi-avatar {
    width: 80px;
}

.pi-avatar-mini {
    width: 16px;
}

.pi-avatar-xsmall {
    width: 24px;
}

.pi-avatar-small {
    width: 28px;
}

.pi-avatar-medium {
    width: 46px;
}

.pi-avatar-large {
    width: 96px;
}

.pi-avatar-xlarge {
    width: 120px;
}

.pi-avatar-xxlarge {
    width: 214px;
}

/* header */
.pi-header {
    color: #0585CA;
}

.pi-header h1,
.pi-header h2 {
    padding: 1px;
    margin: 1px;
    font-size: 35px;
}

.pi-header .pi-header-body .pi-header-logo img {
    max-height: 40px;
}

.pi-header .navbar-default {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #1E2B33;
    border-color: #1E2B33;
    border: 0;
}

.pi-header .navbar-default .navbar-brand {
    color: #fff;
}

.pi-header .navbar-default .navbar-nav > li > a {
    color: #fff;
}

.pi-header .navbar-default .navbar-nav > li > a:hover,
.pi-header .navbar-default .navbar-nav > li > a:focus {
    color: #fff;
    background-color: #0585CA;
}

.pi-header .navbar-default .navbar-nav > .active > a,
.pi-header .navbar-default .navbar-nav > .active > a:hover,
.pi-header .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #0585CA;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: #0585CA;
}

.pi-userbar a {
    color: #333;
    font-size: 12px;
}

.pi-header .pi-header-pinkbar {
    background-color: #0585CA;
    padding: 15px 0px 0px 0px;
    margin-bottom: 20px;
    z-index: 10 !important;
    -webkit-box-shadow: 0px -2px 5px rgba(0, 0, 0, .05);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, .05);
}

.pi-header .pi-header-pinkbar .search-block {
    margin-bottom: 25px;
}

.pi-header .pi-header-pinkbar .pi-header-pinkbar-maintext {
    color: #fff;
    text-align: center;
    font-size: 1.1em;
    margin-bottom: 25px;
}

.pi-header .pi-header-pinkbar .about-icon {
    color: #fff;
    border-left: 1px solid #fff;
    padding-left: 15px;
}

.pi-header .pi-header-pinkbar .about-p {
    color: #fff;
}

.pi-header .pi-header-pinkbar .about-title,
.pi-header .pi-header-pinkbar .about-title a {
    color: #fff;
    font-size: 1.4em;
}

.pi-header .pi-header-pinkbar .about-title a:hover {
    text-decoration: none;
}

.pi-header .pi-header-pinkbar .pi-header-pinkbar-box {
    padding: 4px 35px;
}

.pi-header .pi-header-pinkbar .about-icon {
    font-size: 52px;
    float: right;
    margin: 15px 0 0 15px;
}

.pi-header .pi-header-pinkbar .about-p {
    overflow: hidden;
    line-height: 22px;
}

.pi-header .pi-header-socialindex {
    padding: 25px;
}

.pi-header .pi-header-socialindex ul li {
    text-align: center;
    padding: 0px 2px 0px 2px;
}

.pi-header .pi-header-socialindex ul li i {
    background-color: #fff;
    border-radius: 50%;
    color: inherit;
    height: 32px;
    width: 32px;
    line-height: 32px;
    font-size: 1.2em;
    color: inherit;
    text-shadow: none;
}

.pi-header a.carousel-arrow {
    position: absolute;
    display: block;
    top: 40%;
    height: 100px;
    width: 50px;
    text-align: center;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #FFF;
    font-size: 50px !important;
    font-weight: 300;
    line-height: 100px;
    cursor: pointer;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    opacity: 0;
}

.pi-header .carousel:hover a.carousel-arrow {
    opacity: 1;
}

.pi-header a.carousel-arrow:hover,
.pi-header a.carousel-arrow:active {
    text-decoration: none;
    background: #00B4FF;
}

.pi-header a.carousel-arrow-prev {
    left: 0;
    right: auto;
    padding-right: 5px;
}

.pi-header a.carousel-arrow-next {
    right: 0;
    left: auto;
    padding-left: 5px;
}

.pi-header .carousel-caption-search {
    bottom: 0 !important;
    width: 60%;
    z-index: 1000;
    margin: 0 auto;
}

.pi-header .carousel-caption span {
    color: #fff;
    font-family: 'Dancing Script', cursive !important;
    font-size: 2em !important;
}
/* section */
.pi-section {

}

.pi-section .container {
    padding: 15px 0;
}

.pi-section .pi-module-content {
    padding: 15px;
    margin-bottom: 15px;
}

/* footer */
.pi-footer {
    -webkit-box-shadow: 0px -2px 5px rgba(0, 0, 0, .05);
    box-shadow: 0px -2px 5px rgba(0, 0, 0, .05);
    color: #ccc;
    line-height: 20px;
}

.pi-footer a {
    color: #f5f5f5;
}

.pi-footer a:hover {
    color: #ccc;
}

.pi-footer h3 {
    font-size: 20px;
}

.pi-footer .pi-footer-body {
    border-top: 3px solid #ddd;
    background-color: #1E2B33;;
    padding: 30px 0;
}

.pi-footer .pi-footer-copyright {
    background-color: #1E2B33;
}

.pi-footer .pi-footer-copyright .container .row {
    border-top: 1px solid #666;
    padding: 20px 0;
}

.pi-footer .pi-footer-social ul {
    margin-top: 10px;
}

.pi-footer .pi-footer-social ul li {
    font-size: 25px;
}

.pi-footer .pi-footer-main {
    padding: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 25px;
}

/* panel */
.panel-default {
    border-color: #ccc;
}
.panel-default > .panel-heading {
    color: #f4f4f4;
    background-color: #1E2B33;;
    border-color: #1E2B33;;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #1E2B33;;
}
.panel-default > .panel-heading .badge {
    color: #0585CA;
    background-color: #1E2B33;;
}
.panel-default > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #1E2B33;;
}

/* blocks */
.widget-media-list {
    text-align: center !important;
}

.widget-media-list-image img {
    border-radius: 50%;
}

.widget-media-list-summery {}

.pi-header-system .carousel-caption {
    background: rgba(0, 52, 89, 0.30) !important;
    padding: 5px 10px;
    background: none;
    margin-top: 3px;
    line-height: 1.6;
    -webkit-animation-duration: 1.3s;
    -moz-animation-duration: 1.3s;
    margin-bottom: 100px;
}

.pi-header-system .carousel-caption h4 {
    font-size: 1.5em !important;
    margin: 20px 0;
}

.news-item-block-verticalwide .media {
    text-align: center !important;
    position: relative;
}

.news-item-block-verticalwide .media h3 {
    position: absolute;
    margin-top: -40px !important;
    height: 40px;
    background: rgba(0,0,0, .5);
    width: 100%;
    padding-top: 10px;
}

.news-item-block-verticalwide .media h3 a {
    color: #fff;
}

.news-item-block-verticalwide .media img {
    width: 100%;
}

.event-single-main-box {
    text-align: justify;
}

/* @media (min-width: 768px) {
    #pi-system .pi-header-top {
        position: absolute;
        z-index: 10000000 !important;
        margin: 0 auto;
        width: 100%;
        background: rgba(255, 255, 255, .5);
    }

    #pi-system .pi-header-top .navbar-default {
        background: rgba(0, 0, 0, .5);
    }
}*/

.widget-list-media-single-image .img-responsive {
    margin: 0 auto;
}

.widget-list-media-single-image img {
    border-radius: 50%;
}


.recent-event-single {
    position: relative;
}

.event-information-box {
    position: absolute;
    margin-top: -140px !important;
    height: 140px;
    background: rgba(0,0,0, .4);
    width: 100%;
    padding: 15px;
    color: #fff;
}

.event-information-box h3 {
    margin-bottom: 15px;
}

.event-information-box a {
    color: #fff;
}